* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto';
}

/*/****** Media queries ***********/
/*Desktop*/
@media (min-width: 1350px) {
  .explore {

    & h1 {
      font-size: 40px;
    }
  }

  .btn {
    flex-direction: row;
    margin-left: 130px;

    &__grey {
      width: 25%;
    }
  }

  .functioning {
    h1 {
      margin-left: 165px;
    }
  }

  .restaurants {
    
    h1 {
      margin-left: 140px;
    }
  }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        align-items: center;
        margin-left: 140px;
        margin-right: 130px;
        gap: 50px 100px;
    } 

    .card {
     
      &__content {
        margin-bottom: 30px;
      }
    }

    .last-card {
      margin-bottom: 30px;
    }

  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 65px 30px 45px;

    .footer-links {
      flex-direction: row;
      gap: 30px;
    }
  }

  .menu {
    h1 {
      margin-left: 170px;
    }
  }
   
  .container {
    margin-left: 163px;
    margin-right: 162px;
  }

  .first-title {
    align-items: center;
    justify-content: center;
  }

  .menu__card__details {
    width: 70%;
    margin-left: 165px;
  }
}
