$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$green-font: #008766;
$color-gray: #353535;
$lightgray:#EAEAEA;
$verylight-gray:#F7F7F7;
$color-icones:#7E7E7E;
$color-white:#FFFFFF;
$color-black: #000000;
