footer {
    margin: 0 0 22px 0;
    background: $color-gray;
    height: 186px;

    & img {
        height: 20px;
        margin: 22px 0 0 18px;
        filter: brightness(30);
    }

    & a {
        display: flex;
        flex-direction: column;
        margin: 8px 8px 8px 18px;
        font-weight: 500;
        color:$color-white;
    }
}  
    
