footer {
    background: $color-gray;
    padding: 22px 25px;
   

    img {
        height: 20px;
        margin-bottom: 16px;
        filter: brightness(30);
    }

    .footer-links {
        font-family: 'Roboto';
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            font-weight: 400;
            color: $color-white;
        }
    }

    .fa-utensils {
        color: $color-white;
        width: 11px;
        height: 13px;
        margin-right: 11px;
    }
}

.fa-handshake-angle {
    color: $color-white;
    width: 11px;
    height: 13px;
    margin-right: 11px;
}