@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***buttons***/
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 26px 0 68px;
}
.btn__degraded {
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 13px 18px;
  font-size: 16px;
}
.btn__grey {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border-color: #F7F7F7;
  border: none;
  position: relative;
  width: 320px;
  height: 70px;
  font-size: 16px;
}

/***button menu page***/
.btn__grey--menu {
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  width: 349px;
  height: 69px;
}

.btn__degraded--menu {
  position: absolute;
  left: 25%;
}
.btn__degraded--menu .btn__degraded {
  width: 180px;
  height: 50px;
}

/***header***/
.headergroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.headergroup img {
  height: 25px;
  width: 150px;
}
.headergroup__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.navbar__link {
  color: #353535;
  margin-left: 16px;
}

/***header menu page***/
.headergroup__logo--menu {
  padding-top: 8px;
}

footer {
  background: #353535;
  padding: 22px 25px;
}
footer img {
  height: 20px;
  margin-bottom: 16px;
  filter: brightness(30);
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-links a {
  font-weight: 400;
  color: #FFFFFF;
}
footer .fa-utensils {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

.fa-handshake-angle {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

/***Home page***/
/***Explorer nos restaurant***/
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 100%;
  height: 287px;
  background: #F7F7F7;
  text-align: center;
  padding: 39px 0 57px;
}
.explorer h2 {
  font-size: 18px;
  color: #353535;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

/***Fonctionnement***/
.fonctionnement {
  margin-top: 48px;
}
.fonctionnement h1 {
  margin-left: 20px;
}

/***restaurants***/
.restaurants {
  background: #F7F7F7;
  padding: 0 15px;
  margin-bottom: 66px;
}
.restaurants h1 {
  padding-top: 48px;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.cards img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  width: 100%;
}
.card__content {
  background: #FFFFFF;
  height: 77px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 13px;
  border-radius: 15px;
}
.card__content--title {
  background: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.card h3 {
  color: #000000;
  font-weight: 300;
  font-size: 17px;
}

/***icones***/
.pastille {
  position: absolute;
  left: -15px;
  border: 2px solid #9356DC;
  border-radius: 25px;
  padding: 4px 8px;
  color: #FFFFFF;
  background: #9356DC;
}

.fa-store {
  color: #9356DC;
  position: absolute;
  left: 12%;
}

.fa-list-ul {
  color: #7E7E7E;
  position: absolute;
  left: 12%;
}

.fa-mobile-screen-button {
  color: #7E7E7E;
  position: absolute;
  left: 12%;
}

/***menu***/
/***menu-la-palette-du-gout***/
.img img {
  width: 100%;
}

.first-title {
  font-family: "Shrikhand";
  font-style: italic;
  background: #F7F7F7;
  display: flex;
  padding: 32px 17px 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  position: relative;
  top: -43px;
}

.container {
  background: #F7F7F7;
  padding-bottom: 98px;
}

.menu h1 {
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 13px;
}
.menu span {
  display: flex;
  margin: 5px 0 5px;
}

.plats {
  font-weight: 500;
  font-weight: 700;
  font-size: 18px;
}

.prix {
  flex: none;
  font-weight: 700;
  position: absolute;
  left: 90%;
  top: 35px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

/***icone fa-heart home page***/
.fa-regular, .far {
  position: relative;
  left: 45%;
  color: #7E7E7E;
  width: 22px;
  height: 21px;
}

.fa-location-dot {
  color: #353535;
}

/***icone fa-heart menu page***/
h1 .fa-regular, h1 .far {
  left: 20%;
}

.fa-arrow-left {
  width: 17px;
  position: relative;
  right: 900%;
  top: 109%;
  color: #353535;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
/* Desktop (desktop, less than 1440px) */

/*# sourceMappingURL=style.css.map */
