@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin: 26px 0 68px;
  width: 100%;
  padding-left: 30px;
  padding-right: 40px;
}
.btn__grey {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border-color: #F7F7F7;
  border: none;
  position: relative;
  width: 100%;
  height: 72px;
  font-size: 16px;
  font-weight: 500;
}
.btn__grey:hover {
  background-color: #FFFFFF;
}
.btn__purple {
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 13px 18px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

/***icones***/
.fa-location-dot {
  color: #353535;
}

.pastille {
  position: absolute;
  left: -15px;
  border: 2px solid #9356DC;
  border-radius: 25px;
  padding: 4px 8px;
  color: #FFFFFF;
  background: #9356DC;
}

.fa-mobile-screen-button {
  color: #7E7E7E;
  padding-right: 27px;
}

.fa-list-ul {
  color: #7E7E7E;
  padding-right: 27px;
}

.fa-store {
  color: #9356DC;
  padding-right: 27px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  width: 100%;
  position: relative;
}
.card img {
  width: 100%;
}
.card__content {
  background: #FFFFFF;
  height: 77px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px;
  margin-bottom: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card__content__title {
  background: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
}
.card__content h3 {
  color: #000000;
  font-weight: 300;
  font-size: 17px;
}
.card .heart-empty,
.card .heart-filled {
  position: absolute;
  top: 75%;
  right: 20px;
}
.card .heart-filled {
  opacity: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  transition: opacity 1000ms ease-in-out;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card .heart-filled:active {
  opacity: 1;
}

.last-card {
  margin-bottom: 60px;
}

.menu__card__details {
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 95%;
  margin: 10px 10px 12px;
  animation: fadeIn 1s linear;
  animation-delay: 0.1s;
  position: relative;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.menu__card__details .dishes {
  width: 100%;
}
.menu__card__details .price {
  transition: transform 0.4s ease-in-out;
}
.menu__card__details:hover {
  overflow: hidden;
  cursor: pointer;
}
.menu__card__details:hover > .menu__card__details__check {
  right: 0px;
  top: -5px;
  position: absolute;
  background: #99E2D0;
  height: 84px;
  border-radius: 0 15px 15px 0;
  animation: slideIn 0.4s ease-out forwards;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__card__details:hover > .menu__card__details__check i {
  font-size: 22px;
  opacity: 1;
  color: white;
  padding: 20px;
  transform: rotate(1turn);
  transition: transform 700ms ease-in-out 0.2s;
}
.menu__card__details:hover .price {
  transform: translateX(-50px);
}
.menu__card__details i {
  opacity: 0;
}

.btn__purple--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.btn__purple--menu button {
  width: 180px;
  height: 50px;
}

/***icones***/
h1 .fa-regular,
h1 .far {
  left: 20%;
}

.fa-arrow-left {
  width: 17px;
  position: absolute;
  left: 17px;
  color: #353535;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hidden-loader {
  0% {
    z-index: 10;
  }
  99% {
    z-index: 10;
  }
  100% {
    z-index: -10;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    width: 0px;
  }
  100% {
    width: 60px;
  }
}
.headergroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.headergroup img {
  height: 25px;
  width: 150px;
}
.headergroup__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.navbar__link {
  color: #353535;
  margin-left: 16px;
  font-family: "roboto";
}

footer {
  background: #353535;
  padding: 22px 25px;
}
footer img {
  height: 20px;
  margin-bottom: 16px;
  filter: brightness(30);
}
footer .footer-links {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-links a {
  font-weight: 400;
  color: #FFFFFF;
}
footer .fa-utensils {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

.fa-handshake-angle {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 100%;
  background: #F7F7F7;
  text-align: center;
  padding: 30px 0;
}
.explore h1 {
  padding-left: 60px;
  padding-right: 65px;
}
.explore h2 {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

/***Fonctionnement***/
.functioning {
  margin-top: 48px;
}
.functioning h1 {
  margin-left: 20px;
}

/***restaurants***/
.restaurants {
  background: #F7F7F7;
  padding: 0 15px;
}
.restaurants h1 {
  padding-top: 48px;
  padding-bottom: 20px;
}

.new {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.loading {
  background-color: #99E2D0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  animation: hidden-loader 3000ms forwards;
  z-index: 1;
}
.loading p {
  display: inline-block;
  font-size: 40px;
  color: #FFFFFF;
}

.loader {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

/*---------------------------------------*\
 $Loader Quart de cercle
\*---------------------------------------*/
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  animation: spin 1s linear 0s infinite;
}

.headergroup__logo--menu {
  position: relative;
}

.img img {
  width: 100%;
  object-fit: cover;
}

.first-title {
  font-family: "Shrikhand";
  font-style: italic;
  background: #F7F7F7;
  display: flex;
  padding: 32px 17px 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  position: relative;
  top: -43px;
}
.first-title div {
  position: relative;
}

.heart-emptymenu,
.heart-filledmenu {
  position: absolute;
  right: -50px;
  top: 4px;
}

.heart-filledmenu {
  opacity: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  transition: opacity 1000ms ease-in-out;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-filledmenu:active {
  opacity: 1;
}

.container {
  background: #F7F7F7;
  padding-bottom: 45px;
}

.menu h1 {
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 13px;
  margin-top: 40px;
}
.menu span {
  display: flex;
  margin: 5px 0 5px;
}

.dishes {
  font-weight: 700;
  font-size: 18px;
}
.dishes__carrot {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: 700;
  position: absolute;
  right: 20px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}

/*/****** Media queries ***********/
/*Desktop*/
@media (min-width: 1350px) {
  .explore h1 {
    font-size: 40px;
  }
  .btn {
    flex-direction: row;
    margin-left: 130px;
  }
  .btn__grey {
    width: 25%;
  }
  .functioning h1 {
    margin-left: 165px;
  }
  .restaurants h1 {
    margin-left: 140px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    align-items: center;
    margin-left: 140px;
    margin-right: 130px;
    gap: 50px 100px;
  }
  .card__content {
    margin-bottom: 30px;
  }
  .last-card {
    margin-bottom: 30px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 65px 30px 45px;
  }
  footer .footer-links {
    flex-direction: row;
    gap: 30px;
  }
  .menu h1 {
    margin-left: 170px;
  }
  .container {
    margin-left: 163px;
    margin-right: 162px;
  }
  .first-title {
    align-items: center;
    justify-content: center;
  }
  .menu__card__details {
    width: 70%;
    margin-left: 165px;
  }
}

/*# sourceMappingURL=style.css.map */
