.cards {
  @include flexcolumn;
 


  img {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
 
}

.card {
  width: 100%;
  position: relative;
  
  img {
    width: 100%;
  }
 
  &__content {
    background: $color-white;
    height: 77px;
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 13px;
    margin-bottom: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    
    &__title {
      background: $color-white;
      font-weight: 700;
      font-size: 18px;
      color: $color-black;
      margin-bottom: 5px;
    }
  
    h3 {
      color: $color-black;
      font-weight: 300;
      font-size: 17px;
    }
  }

  .heart-empty,
  .heart-filled {
    position: absolute;
    top: 75%;
    right: 20px;
  }

  .heart-filled {
    opacity: 0;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    transition: opacity 1000ms ease-in-out;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:active {
      opacity: 1;
    }
  }
}

.last-card {
  margin-bottom: 60px;
}