.menu__card {

    &__details {
        background: $color-white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 95%;
        margin: 10px 10px 12px;
        animation: fadeIn 1s linear;
        animation-delay: 0.1s;
        position: relative;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;

        .dishes {
            width: 100%;
        }
              
        .price {
            transition: transform 0.4s ease-in-out;
        }

        &:hover {
            overflow: hidden;
            cursor: pointer;

            &>.menu__card__details__check {
                right: 0px;
                top: -5px;
                position: absolute;
                background: $color-tertiary;
                height: 84px;
                border-radius: 0 15px 15px 0;
                animation: slideIn 0.4s ease-out forwards;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 22px;
                    opacity: 1;
                    color: white;
                    padding: 20px;
                    transform: rotate(1turn);
                    transition: transform 700ms ease-in-out 0.2s;
                }
            }

            .price {
                transform: translateX(-50px);
            }
        }

        i {
            opacity: 0;
        }

    }
}

.btn__purple--menu {
    @include flexcolumn;
    margin-top: 40px;

    & button {
        width: 180px;
        height: 50px;
    }
}

/***icones***/
h1 {

    & .fa-regular,
    .far {
        left: 20%;
    }
}

.fa-arrow-left {
    width: 17px;
    position: absolute;
    left: 17px;
    color: $color-gray;
}