.explore {
  @include flexcolumn;
  gap: 27px;
  width: 100%;
  background: $verylight-gray;
  text-align: center;
  padding: 39px 0 57px;

  h1 {
    padding-left: 60px;
    padding-right: 65px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    color: $color-gray
  }
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

/***Fonctionnement***/
.functioning {
  margin-top: 48px;

  h1 {
    margin-left: 20px;
  }
}

/***restaurants***/
.restaurants {
  background: $verylight-gray;
  padding: 0 15px;
  
  h1 {
    padding-top: 48px;
    padding-bottom: 20px;
  }
}

.loading {
  background-color: $color-tertiary;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  animation: hidden-loader 3000ms forwards;
  z-index: 1;

  p {
    display: inline-block;
    font-size: 40px;
    color: $color-white;
  }
}

.loader {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

/*---------------------------------------*\
 $Loader Quart de cercle
\*---------------------------------------*/

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);

&:after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  animation: spin 1s linear 0s infinite;
}
}