.headergroup__logo--menu {
    position: relative;
}

.img {

    img {
        width: 100%;
        object-fit: cover;
    }
}

.first-title {
    font-family: 'Shrikhand';
    font-style: italic;
    background: $verylight-gray;
    display: flex;
    padding: 32px 17px 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    position: relative;
    top: -43px;

    & div {
        position: relative;
    }
}

.heart-emptymenu,
.heart-filledmenu {
    position: absolute;
    right: -50px;
    top: 4px;
}

.heart-filledmenu {
    opacity: 0;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    transition: opacity 1000ms ease-in-out;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:active {
        opacity: 1;
    }
}

.container {
    background: $verylight-gray;
    padding-bottom: 45px;
}

.menu {

    h1 {
        font-weight: 300;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
        margin-left: 13px;
        margin-top: 40px;
    }

    span {
        display: flex;
        margin: 5px 0 5px;
    }
}

.dishes {
    font-weight: 700;
    font-size: 18px;

    &__carrot {
        font-weight: 300;
    }
}

.price {
    font-weight: 700;
    position: absolute;
    right: 20px;
}